@using ERNI.PhotoDatabase.Server.Controllers
@model ERNI.PhotoDatabase.Server.Model.UploadResult

@{
    ViewBag.Title = "Taging";
    Layout = "_Layout";

    var returnAction = Model.Images.Length == 1 ? nameof(TagController.SaveOne) : nameof(TagController.Save);
}


<form asp-controller="Tag" asp-action="@returnAction" method="post" asp-antiforgery="false">
    <div class="row save-button-row">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>

    @for (var i = 0; i < Model.Images.Length; ++i)
    {
        @Html.EditorFor(m => m.Images[i])
    }

    <div class="row save-button-row">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
</form>


@section Scripts
{
    <link rel="stylesheet" href="css/tagsinput.css" />
    <link rel="stylesheet" href="css/typeaheadjs.css" />

    <script src="js/tagsinput.js"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="js/taggingTypeahead.js"></script>

    <script type="text/javascript">
        initializeTagging('@Url.Action("GetTags")');
    </script>

}