@model ERNI.PhotoDatabase.Server.Model.UploadResult

@{
    ViewBag.Title = "Taging";
    Layout = "_Layout";
}

<form asp-controller="Tag" asp-action="Save" method="post" asp-antiforgery="false">
    @for (var i = 0; i < Model.Images.Length; ++i)
    {
        @Html.EditorFor(m => m.Images[i])
    }
    
    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </div>
</form>