.tags a.badge {
    margin-right: 0.5rem;
}

.navbar {
    margin-bottom: 10px;
}

.search-result .col {
    margin-bottom: 10px;
}

.search-result .card {
    width: 20rem;
}

.save-button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}