body, html {
    height: 100%;
}

.tags a.badge {
    margin-right: 0.5rem;
}

.navbar {
    margin-bottom: 10px;
}

.search-result .col {
    margin-bottom: 10px;
}

.search-result .card {
    width: 20rem;
}

.save-button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.minheight-100 {
    min-height: 100%;
}

.content-background {
    padding-top:5rem;
    background-color: #ffffff;
    opacity: 0.9;
}

.search-navigation {
    background: rgba(0,0,0,0.2);
    border-bottom: solid 1px;
    border-bottom-color: rgba(0,0,0,0.1);
}

.link-tag {
    color:white;
    font-weight:bold;
}