html {
    height: 100%;
    padding-bottom: 60px;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    height:100%;
}

.text-black {
    color:#3c3c3c;
}

.text-dark-blue {
    color:#123372;
}

.tags a.badge {
    margin-right: 0.5rem;
}

.navbar {
    margin-bottom: 10px;
    background-color:#ffffff;
}

a {
    color: #3c3c3c;
    font-weight:bold;
}

    a:hover {
        color: #bebcbc;
    }

.nav-link {
    color: #5b5b5b;
    font-weight: bold;
}

    .nav-link:hover {
        color: #bebcbc;
    }

.save-button-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.minheight-100 {
    min-height: 100%;
}

.content-background {
    padding-top: 1rem;
    background-color: rgba(255,255,255,0.9);
}

.search-navigation {
    /*background: rgba(0,0,0,0.3);*/
    border-bottom: solid 1px;
    border-bottom-color: rgba(0,0,0,0.1);
}

.link-tag {
    /*color: white;*/
    /*font-weight: bold;*/
    color: #bebcbc;
}

    #photos .item {
        margin-bottom: 4px;
        margin-left: 2px;
        margin-right: 2px;
        position:relative;
    }

        #photos .item a {
            display: block;
        }

        #photos .item a img {
            width: 100%;
        }

        #photos .item:hover .overlay {
            visibility: visible;
        }

#photos .overlay {
    visibility: hidden;
    padding: 0.5rem;
    width: 100%;
    position: absolute;
    min-height:35px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.6);
    display: table;
}

    #photos .overlay a {
        vertical-align: middle;
        display: table-cell;
    }

    #photos .overlay h7 {
        vertical-align: middle;
        display: table-cell;
    }


.grid-sizer,
.grid-item-outer {
    width: 25%;
}

.navbar-brand {
    margin-right: 0;
    margin-left: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer > .container {
    text-align:center;
}