@model IEnumerable<(string Tag,int Count)>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Tag Cloud";
}

<div class="row search-result">
    @foreach (var item in Model)
    {
        <a asp-controller="Home" asp-action="Search" asp-route-query="@item.Tag" class="badge badge-primary">@item.Tag</a>
    }
</div>




