@{
    Layout = "_IndexLayout";
    ViewData["Title"] = "SignedOut";
}


<div class="container h-100" id="header">
    <div class="row justify-content-center align-items-center h-100">
            <div class="jumbotron col-sm-6 search-navigation bg-white border">

                <p class="lead text-center">
                    <b>Please <a class="text-dark-blue" asp-controller="Account" asp-action="SignIn">sign in</a> to enter the photo database</b>
                </p>
            </div>

        </div></div>
