@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<(string Tag,int Count)>
@{
    Layout= "_Layout";
}

<div class="row search-result">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Tag, "Search", "Home", new { query=item.Tag }, new { @class = "badge badge-primary"})
    }
</div>




