@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ERNI.PhotoDatabase.Server.Controllers.SearchResult[]
@{
    Layout= "_Layout";
}

<div class="row search-result">
    @foreach (var sr in Model)
    {
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/api/image/@Html.UrlEncoder.Encode(sr.ImagePath)/download" alt="@sr.ImagePath">
                <div class="card-body">
                    <h4 class="card-title">@sr.ImagePath</h4>
                    <p class="card-text tags">
                        @foreach(var tag in sr.Tags)
                        {
                            <a asp-controller="Home" asp-action="Search" asp-route-query="@tag" class="badge badge-primary">@tag</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>




